body {
  margin: 0;
  font-family: 'Courier New', 'Courier', 'Monospaced', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*background-color: #4158D0;*/
  /*background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);*/
  background: rgb(88,212,242);
  background: linear-gradient(90deg, rgba(88,212,242,1) 0%, rgba(179,98,184,1) 50%, rgba(189,129,30,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
